/*### MainStageCSS.css ###########################################################################*/


/*### ID SPESIFIC ################################################################################*/

#txaDeviceInfo {
    -fx-background-color: rgba(53,89,119,0);
}

#txaDeviceInfo .scroll-pane {
    -fx-background-color: transparent;
}

#txaDeviceInfo .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#txaDeviceInfo .scroll-pane .content{
    -fx-background-color: transparent;
}

#txaDeviceInfo .scroll-pane .content{
    -fx-background-color: rgba(255, 255, 255, 1);
	-fx-background-image: url("../../../../../res/images/logo120x120.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 120 120;
	-fx-background-position: center center;
	-fx-background-radius: 6;
	-fx-border-radius: 6;
	-fx-border-color: -fx-outer-border;
}

#txaDebugConsole {
    -fx-background-color: rgba(53,89,119,0);
}

#txaDebugConsole .scroll-pane {
    -fx-background-color: transparent;
}

#txaDebugConsole .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#txaDebugConsole .scroll-pane .content{
    -fx-background-color: transparent;
}

#txaDebugConsole .scroll-pane .content{
    -fx-background-color: rgba(255, 255, 255, 1);
	-fx-background-image: url("../../../../../res/images/logo120x120Red.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 120 120;
	-fx-background-position: center center;
	-fx-background-radius: 6;
	-fx-border-radius: 6;
	-fx-border-color: -fx-outer-border;
}

/*### MENU SETTINGS ##############################################################################*/

.menu:hover {
	-fx-background-color: rgba(0,0,0,0.0);
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, -fx-focus-color, 15, 0.3, 0, 0);
}

.menu:hover > .label {
	-fx-text-fill: black;
}

.menu:showing {
	-fx-background-color: rgba(0,0,0,0.0);
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, -fx-focus-color, 15, 0.3, 0, 0);
}

.menu:showing > .label {
	-fx-text-fill: black;
}

/*### MENUITEMS SETTINGS #########################################################################*/

.menu-item {
	-fx-background-radius: 10;
}

.menu-item:focused {
	-fx-background-color: rgba(0,0,0,0.0);
	-fx-effect: dropshadow(three-pass-box, rgba(3,7,211,0.75), 15, 0.3, 0, 0);
	-fx-focused-mark-color: -fx-mark-color;
}

.menu-item:focused .label{
	-fx-text-fill: black;
	
}

/*### TAB PANE SETTINGS ##########################################################################*/

.tab-pane {
    -fx-background-radius: 8 8 8 8, 7 7 7 7, 6 6 6 6;
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, +28%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-pane .tab-header-area .tab-header-background {
     -fx-border-radius: 8 8 0 0;
 	 -fx-background-radius: 8 8 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    /* if outer border should be 10 radius */
    -fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 9 9 0 0, 8 8 0 0;
}

/*### EOF ########################################################################################*/
